@keyframes fade-in {
    from {opacity: 0.0;}
    to {opacity: var(--op);}
}

@keyframes fade-out {
    from {opacity: inherit;}
    to {opacity: 0.0;}
}

@keyframes slide-down {
    from {transform: translateY(-50px);}
    to {transform: translateY(0px);}
}

@keyframes slide-up {
    from {transform: translateY(50px);}
    to {transform: translateY(0px);}
}

@keyframes slide-left {
    from {transform: translateX(50px);}
    to {transform: translateX(0px);}
}

@keyframes slide-right {
    from {transform: translateX(-50px);}
    to {transform: translateY(0px);}
}

@keyframes zoom-in {
    from {transform: scale(0);}
    to {transform: scale(1.0);}
}

@keyframes zoom-out {
    from {transform: scale(1.0);}
    to {transform: scale(0);}
}

.pt-6,
.py-6{
    padding-top: 4rem;
}

.pb-6,
.py-6{
    padding-bottom: 4rem;
}
.pr-6,
.px-6{
    padding-right: 4rem;
}

.pl-6,
.px-6{
    padding-left: 4rem;
}


.pt-7,
.py-7{
    padding-top: 8rem;
}

.pb-7,
.py-7{
    padding-bottom: 8rem;
}
.pr-7,
.px-7{
    padding-right: 8rem;
}

.pl-7,
.px-7{
    padding-left: 8rem;
}

.pt-8,
.py-8{
    padding-top: 12rem;
}

.pb-8,
.py-8{
    padding-bottom: 12rem;
}
.pr-8,
.px-8{
    padding-right: 12rem;
}

.pl-8,
.px-8{
    padding-left: 12rem;
}





hr.fade-in-ani{
    --op: .3;
    animation: fade-in 2s ease;
    animation-fill-mode: forwards;
}

.fade-in-ani{
    --op: 1;
    animation: fade-in 3s;
    animation-fill-mode: forwards;
}

.fade-out-ani {
    animation: fade-out 1s;
    animation-fill-mode: forwards
}

.fade-in-down-ani {
    animation: fade-in 1s, slide-down 1s
}

.fade-in-up-ani {
    animation: fade-in 1s, slide-up 1s
}

.fade-in-left-ani {
    animation: fade-in 1s, slide-left 1s 
}

.fade-in-right-ani {
    animation: fade-in 1s, slide-right 1s
}

.zoom-in-ani {
    animation: zoom-in 1.5s
}

.zoom-out-ani {
    animation: zoom-out 1.5s
}

.slide-down-ani {
    animation: slide-down 1s
}

.slide-up-ani {
    animation: slide-up 1s
}

.slide-left-ani{
    animation: slide-left 1s
}

.slide-right-ani{
    animation: slide-right 1s
}
.nav-masthead .nav-link {
    padding: .25rem 0;
    margin-left: 1rem;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.navbar{
    top: 0;
    left: 0;
    transition: background-color 1s ease 0s;
}
#navBrand{
    color: #ffb3de;
    text-decoration: none;
}
#navBrand:hover{
    color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .active {
    color: #ffb3de;
    border-bottom-color: #ffb3de;
    
}

.nav-trans {
    background-color: #000;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;  
    -o-transition: background-color 1s ease;         
    transition: background-color 1s ease;
  }

.banner-image{
    height: 100vh;
    width: 100vw;
    position:relative;

    background-image: url('../media/pics/164915.jpeg');
    background-size: 100% 100%;
}


.xo_style{
    color: #ffb3de;
}
.login-visual{
    height: 400px;
    width : 100%;
    background-image:
    radial-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1.0)),
    url('https://previews.123rf.com/images/klss/klss1707/klss170700064/81952720-3d-illustration-of-cloud-of-flying-friends-symbols-on-a-dark-background-social-media-concept-.jpg');
    background-size: 100% 100%;
}

.register-visual{
    height: 300px;
    width : 100%;
    background-image:
    radial-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1.0)),
    url('https://www.teahub.io/photos/full/220-2205714_get-the-latest-movies-data-src-kodi-tv.jpg');
    background-size: 100% 100%;

}

.forgot-password{
    float: right;
    text-decoration: none;
    color: white;
    border-bottom: .25rem solid transparent;

}
a {
     cursor: pointer; 
}
.forgot-password:hover{
    color:#ffb3de;
    border-bottom-color: #ffb3de;
}

.password-visual{
    height: 500px;
    width : 100%;
    background-image:
    radial-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 1.0)),
    url('https://www.virtru.com/wp-content/uploads/2018/05/End-to-End-Security-for-a-Zero-Trust-Default-Secure-Future.jpg');
    background-size: 100% 100%;
}

.password-div{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}